*{
    font-family:cursive;
    background-color: #000;
    
}

h1{
    font-size: 3.2em;
    margin-top: auto;
}

ul{
    font-size: 2em;
}

a:not(.nav-link) {
    color: gray;
    text-decoration: none;
}

a:not(.nav-link):hover {
    color: gold;
    text-decoration: underline;
}


img{
    width: 700px; 
    height: 200px; 
    object-fit: cover;
    object-position: center;
}

p{
    font-size: larger;
}

label{
    font-size: 2em;
}


.btn:hover{
background-color: gold;
color: #000;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 3em;
    border: 2px solid gold ;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-link {
    color: #685e5e;
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    color: gold;
}

.nav-link:hover{
    color: gold;
}

.profile{
    width: 300px; 
    height: 300px; 
    object-fit: cover;
    object-position: center;
}