body{
    font-family:cursive;
    background: linear-gradient(to bottom, #000000 0%, #333333 30%, #666666 50%, #333333 70%, #000000 100%);
} 

h1{
    font-size: 3.2em;
    margin-top: auto;
}

h2{
    font-size: 2.5em;
    margin-top: auto;
}

ul{
    font-size: 2em;
}

a:not(.nav-link) {
    color: white;
    text-decoration: none;
}

a:not(.nav-link):hover {
    color: gold;
    text-decoration: underline;
}

p{
    font-size: 2rem;
}

label{
    font-size: 2em;
}

footer{
    padding: 20px 0px;
}

.portfolio{
    width: 700px; 
    height: 500px; 
}

.btn:hover{
background-color: gold;
color: #000;
}

.col-md-6{
    margin-bottom: 20px;
}


.head{
    display: flex;
    justify-content: space-between;
    padding: 3em;
    border: 2px solid gold ;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-link {
    color: #685e5e;
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    color: gold;
}

.nav-link:hover{
    color: gold;
}

.profile{
    width: 300px; 
    height: 300px; 
    object-fit: cover;
    object-position: center;
}

#root{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}